[MESSAGES CONTROL]
disable=invalid-name,
    arguments-differ,
    duplicate-code,
    line-too-long,
    too-many-locals,
    too-many-branches,
    too-many-statements,
    missing-module-docstring,
    missing-function-docstring,
    missing-class-docstring,
    unused-variable,
    consider-using-f-string,
    redefined-outer-name,
    protected-access,
    unused-wildcard-import,
    raise-missing-from,
    bare-except,
    consider-merging-isinstance,
    consider-using-dict-items,
    consider-using-with,
    import-error,
    inconsistent-return-statements,
    invalid-str-returned,
    missing-final-newline,
    no-else-break,
    no-else-continue,
    no-else-return,
    no-member,
    pointless-exception-statement,
    redefined-builtin,
    superfluous-parens,
    too-few-public-methods,
    too-many-ancestors,
    too-many-lines,
    too-many-public-methods,
    trailing-whitespace,
    undefined-variable,
    unidiomatic-typecheck,
    unspecified-encoding,
    useless-object-inheritance,
    wildcard-import,
    attribute-defined-outside-init,
