[MESSAGES CONTROL]
disable=line-too-long,
    too-many-locals,
    too-many-branches,
    too-many-statements,
    too-many-ancestors,
    no-member,
    too-few-public-methods,
    chained-comparison
