language: python
python:
- '3.6'
- '3.7'
install:
- pip install -r requirements.txt
script:
- python manage.py test
deploy:
-  provider: pypi
  user: jgazeley
  password:
    secure: lCI5i+nrDtNVMHYVmlbA5NpydL02KN1kPVtoSnkBifLXH21xal7aJzEwpplA0xAnizeD8SrP+pcdmw0oOsE3EA6FGt6Fs4OmL4X+VZtJBgC+LiP0UbuaoCbZle/F5RwuPeabuzqBig+9PfqT6mMNK2q9Pdo2FdhRh7LHxXCt4uTC+aINkYCC9MHWavDwD+SGpFYxEzg9/gTWQkQJY4pqwaF5d8iRyUw/PftQSGLHA1OvbU0M7/aOvggqEGYmHyQeE916mcLSuOt314YlJBXCeVTlEntKpvl3QMNAacv1+QuQNrPxHPm36lqhV2npDys3nHPWQI49JBJN+/5jlPxV9113FwdDvRjwGZLsO7MeMKBbw74C/c+ufkW28mRRrisq+iJkN7u5Tvivm+DpGZ8ga9Vop5ntHv0qSmBCEiktlZj709YwGuggCamvUvgcMVr+Ovvqe1qUaWo5J3PDZ8ipYYjXtUO+bXZDqFM8y1XOiKrqpRviJpDe07SzKhBtNDjX48V69/5kSn5hd9z9KNxjGEucCsgfjkgN9p5vEAtelVypIqyl2H5yR6dnZFcUZif96hVKEtrXXVjxdgdeuHu50wjvGHXApcyCY8HiGwpn6KRuySPA57sPtAHcJADIOdERyfjw6QvZQuwQBFvm8caTG5XEWVn5E5ycRcbrQCk/01Y=
  on:
    tags: true
    distributions: sdist bdist_wheel
    repo: djjudas21/photodb-django
-  provider: releases
  api_key:
    secure: rb8NtNYY/loxkvq2Wx0E75GUM86ICZAsCqyy/rvm0SW59y8YdzUa07BiawTsNApeO1Isgu3IAsOwKPXt7pYetgb1TIbaCayNN37akMHsnE9vsOQS/bqwbofROzizO4Rzxxb7Ucmq0VX/jgabIl+QZ6NO22ZIl+QMv8doVs0WYyz7N3U3wyE2DGM4Xg7ls936K1XQR+1sEK+37r5iC3XIAqIvZ29FpjUKHmrIbOkza6H41fpklhFgzGb+Z2eeDX+cLZW4FPRS6jYxz6I/KEBiSNvjfbHiGZYNJFE+qCihTTnUUxQ/5+Te0RoUO7exb3LqEJ7sz7rUMi0D2v94yBR13LtUOBPJBfAYiuf+7GOxtKwjTZJDQinkWynDUtlXwTyBvfWCbpUSYQpc5MzTlLs4gsipGW9njjqdUCIp6LNWMpvw9DPD3A/A35Dsb6vrFTYfUCGJv775SBaUnegXFFPkDypj8QlZoDXaUxoh/4JiAc3X6XigzJTvqsvyWujBEngmrFQYTHX7oOn/ZXTgF2vWIvOti04dchFLHNN7Iat6Q+gEz0UKIhDR/fPZkKI12doLpH4yM54o/B9DKXE2tGjY3sDLnUMP8OLk0J0RhyA/IUFJb/Uj7r97bKo/uokvuIkvMPkEW0tM36i8j4Sfi62M7uXRgFYOg73PeoSK/+smJGM=
  file: test.zip
  on:
    repo: djjudas21/photodb-django
