{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block heading %}
<h4>
  <img src="{% static "svg/login.svg" %}" width="30" height="30" alt="Login">
  Login</h4>
{% endblock %}

{% block content %}
<form method="post">
  {% csrf_token %}
  {{ form|crispy }}
  <button type="submit">Login</button>
</form>
<p>No account? <a href="{% url 'django_registration_register' %}">Register</a> now</p>
<p>Forgot your password? <a href="{% url 'password_reset' %}">Reset it</a></p>
{% endblock %}
