{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block heading %}
<h4>
  <img src="{% static "svg/password.svg" %}" width="30" height="30" alt="Login">
  Password reset</h4>
{% endblock %}

{% block content %}
{% if validlink %}

<form method="POST">
  {% csrf_token %}
  {{ form|crispy }}
  <input type="submit" value="Change my password">
</form>

{% else %}

<p>The password reset link was invalid, possibly because it has already been used. Please request a new <a href="{% url 'password_reset' %}">assword reset</a>.</p>

{% endif %}
{% endblock %}
