{% extends "schema/detail.html" %}

{% block content %}
<table class="table table-hover">
  <tr>
    <td>Accessory type</td>
    <td>{{ object.type }}</td>
  </tr>
  <tr>
    <td>Manufacturer</td>
    <td>{% if object.manufacturer is not None %}<a href="{% url 'manufacturer-detail' object.manufacturer.slug %}">{{ object.manufacturer }}</a>{% endif %}</td>
  </tr>
  <tr>
    <td>Model</td>
    <td>{{ object.model }}</td>
  </tr>
  <tr>
    <td>Acquired</td>
    <td>{{ object.acquired }}</td>
  </tr>
  <tr>
    <td>Cost</td>
    <td>{{ object.cost }}</td>
  </tr>
  <tr>
    <td>Lost</td>
    <td>{{ object.lost }}</td>
  </tr>
  <tr>
    <td>Lost price</td>
    <td>{{ object.lost_price }}</td>
  </tr>
  <tr>
    <td>Camera model compatibility</td>
    <td>{{ object.camera_model_compatibility.all|join:", " }}</td>
  </tr>
  <tr>
    <td>Lens model compatibility</td>
    <td>{{ object.lens_model_compatibility.all|join:", " }}</td>
  </tr>
</table>
{% endblock %}
