{% extends "schema/detail.html" %}

{% block content %}
<table class="table">
  <tr>
    <th>Accessory type</th>
    <td>{{ object.type }}</td>
  </tr>
  <tr>
    <th>Manufacturer</th>
    <td>{% if object.manufacturer %}<a href="{% url 'manufacturer-detail' object.manufacturer.id %}">{{ object.manufacturer }}</a>{% endif %}</td>
  </tr>
  <tr>
    <th>Model</th>
    <td>{{ object.model }}</td>
  </tr>
  <tr>
    <th>Acquired</th>
    <td>{{ object.acquired }}</td>
  </tr>
  <tr>
    <th>Cost</th>
    <td>{{ object.cost }}</td>
  </tr>
  <tr>
    <th>Lost</th>
    <td>{{ object.lost }}</td>
  </tr>
  <tr>
    <th>Lost price</th>
    <td>{{ object.lost_price }}</td>
  </tr>
  <tr>
    <th>Camera model compatibility</th>
    <td>{{ object.camera_model_compatibility.all|join:", " }}</td>
  </tr>
  <tr>
    <th>Lens model compatibility</th>
    <td>{{ object.lens_model_compatibility.all|join:", " }}</td>
  </tr>
</table>
{% endblock %}
