{% extends "detail.html" %}

{% block content %}
<table class="table table-hover">
  <tr>
    <td>Battery name</td>
    <td>{{ object.name }}</td>
  </tr>
  {% if object.voltage is not None %}
  <tr>
    <td>Voltage</td>
    <td>{{ object.voltage }}V</td>
  </tr>
  {% endif %}
  {% if object.chemistry is not None %}
  <tr>
    <td>Chemistry</td>
    <td>{{ object.chemistry }}</td>
  </tr>
  {% endif %}
  {% if object.compatible_with is not None %}
  <tr>
    <td>Compatible with</td>
    <td>{{ object.compatible_with.all|join:", " }}</td>
  </tr>
  {% endif %}
  <tr>
    <th colspan="2">Misc</th>
  </tr>
  {% if object.created_at is not None %}
  <tr>
    <td>Created</td>
    <td>{{ object.created_at }}{% if object.created_by is not None %} by {{ object.created_by }}{% endif %}</td>
  </tr>
  {% endif %}
  {% if object.updated_at is not None %}
  <tr>
    <td>Last updated</td>
    <td>{{ object.updated_at }}{% if object.updated_by is not None %} by {{ object.updated_by }}{% endif %}</td>
  </tr>
  {% endif %}
</table>
{% endblock %}
