{% extends "base_generic.html" %}

{% block content %}
  <h1>Camera: {{ object }}</h1>

  
  <p><strong>Model:</strong> {{ object.cameramodel }}</p>
  <p><strong>Introduced:</strong> {{object.cameramodel.introduced }}</p>
  <p><strong>Summary:</strong> {{ object.summary }}</p>
  <p><strong>ISBN:</strong> {{ object.isbn }}</p> 
  <p><strong>Language:</strong> {{ object.language }}</p>  
  <p><strong>Genre:</strong> {{ object.genre.all|join:", " }}</p>  

  <div style="margin-left:20px;margin-top:20px">
    <h4>Copies</h4>

    {% for copy in object.bookinstance_set.all %}
      <hr>
      <p class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'm' %}text-danger{% else %}text-warning{% endif %}">{{ copy.get_status_display }}</p>
      {% if copy.status != 'a' %}
        <p><strong>Due to be returned:</strong> {{copy.due_back}}</p>
      {% endif %}
      <p><strong>Imprint:</strong> {{copy.imprint}}</p>
      <p class="text-muted"><strong>Id:</strong> {{copy.id}}</p>
    {% endfor %}
  </div>
{% endblock %}