{% extends "schema/detail.html" %}

{% block content %}
<table class="table">
  <tr>
    <td>Disambiguation</td>
    <td>{{ object.disambiguation }}</td>
  </tr>
  <tr>
    <td>Mount</td>
    <td>{% if object.mount %}<a href="{% url 'mount-detail' object.mount.id %}">{{ object.mount }}</a>{% endif %}</td>
  </tr>
  <tr>
    <td>Format</td>
    <td>{% if object.format %}<a href="{% url 'format-detail' object.format.id %}">{{ object.format }}</a>{% endif %}
    </td>
  </tr>
  <tr>
    <td>Focus type</td>
    <td>{{ object.focus_type }}</td>
  </tr>
  <tr>
    <td>Metering</td>
    <td>{{ object.metering }}</td>
  </tr>
  <tr>
    <td>Coupled metering</td>
    <td>{{ object.coupled_metering }}</td>
  </tr>
  <tr>
    <td>Metering type</td>
    <td>{{ object.metering_type }}</td>
  </tr>
  <tr>
    <td>Introduced</td>
    <td>{{ object.introduced }}</td>
  </tr>
  <tr>
    <td>Discontinued</td>
    <td>{{ object.discontinued }}</td>
  </tr>
  <tr>
    <td>Body type</td>
    <td>{{ object.body_type }}</td>
  </tr>
  <tr>
    <td>Weight</td>
    <td>{{ object.weight }}</td>
  </tr>
  <tr>
    <td>Negative size</td>
    <td>{% if object.negative_size %}<a
        href="{% url 'negativesize-detail' object.negative_size.id %}">{{ object.negative_size }}</a>{% endif %}</td>
  </tr>
  <tr>
    <td>Shutter type</td>
    <td>{{ object.shutter_type }}</td>
  </tr>
  <tr>
    <td>Shutter model</td>
    <td>{{ object.shutter_model }}</td>
  </tr>
  <tr>
    <td>Cable release</td>
    <td>{{ object.cable_release }}</td>
  </tr>
  <tr>
    <td>Viewfinder coverage</td>
    <td>{{ object.viewfinder_coverage }}</td>
  </tr>
  <tr>
    <td>Power drive</td>
    <td>{{ object.power_drive }}</td>
  </tr>
  <tr>
    <td>Continuous fps</td>
    <td>{{ object.continuous_fps }}</td>
  </tr>
  <tr>
    <td>Fixed mount</td>
    <td>{{ object.fixed_mount }}</td>
  </tr>
  <tr>
    <td>Lens model</td>
    <td>{% if object.lensmodel %}<a
        href="{% url 'lensmodel-detail' object.lensmodel.id %}">{{ object.lensmodel }}</a>{% endif %}</td>
  </tr>
  <tr>
    <td>Battery quantity</td>
    <td>{{ object.battery_qty }}</td>
  </tr>
  <tr>
    <td>Battery type</td>
    <td>{{ object.battery_type }}</td>
  </tr>
  <tr>
    <td>Notes</td>
    <td>{{ object.notes }}</td>
  </tr>
  <tr>
    <td>Bulb</td>
    <td>{{ object.bulb }}</td>
  </tr>
  <tr>
    <td>Time</td>
    <td>{{ object.time }}</td>
  </tr>
  <tr>
    <td>Min ISO</td>
    <td>{{ object.min_iso }}</td>
  </tr>
  <tr>
    <td>Max ISO</td>
    <td>{{ object.max_iso }}</td>
  </tr>
  <tr>
    <td>Autofocus points</td>
    <td>{{ object.af_points }}</td>
  </tr>
  <tr>
    <td>Internal flash</td>
    <td>{{ object.int_flash }}</td>
  </tr>
  <tr>
    <td>Internal flash guide number</td>
    <td>{{ object.int_flash_gn }}</td>
  </tr>
  <tr>
    <td>External flash</td>
    <td>{{ object.ext_flash }}</td>
  </tr>
  <tr>
    <td>Flash metering</td>
    <td>{{ object.flash_metering }}</td>
  </tr>
  <tr>
    <td>PC sync</td>
    <td>{{ object.pc_sync }}</td>
  </tr>
  <tr>
    <td>Hotshoe</td>
    <td>{{ object.hotshoe }}</td>
  </tr>
  <tr>
    <td>Coldshoe</td>
    <td>{{ object.coldshoe }}</td>
  </tr>
  <tr>
    <td>Meter min EV</td>
    <td>{{ object.meter_min_ev }}</td>
  </tr>
  <tr>
    <td>Meter max EV</td>
    <td>{{ object.meter_max_ev }}</td>
  </tr>
  <tr>
    <td>DoF preview</td>
    <td>{{ object.dof_preview }}</td>
  </tr>
  <tr>
    <td>Tripod</td>
    <td>{{ object.tripod }}</td>
  </tr>
  <tr>
    <td>Shutter speeds</td>
    <td>
      {{ object.shutter_speeds.all|dictsort:"shutter_speed"|join:", " }}
    </td>
  </tr>
  <tr>
    <td>Metering modes</td>
    <td>
      {{ object.metering_modes.all|join:", " }}
    </td>
  </tr>
  <tr>
    <td>Exposure programs</td>
    <td>
      {{ object.exposure_programs.all|join:", " }}
    </td>
  </tr>
  <tr>
    <td>Series</td>
    <td>
      {% if object.series %}
      <ul>
        {% for series in object.series.all %}
        <li>{{ series.name }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </td>
  </tr>
</table>

<a data-toggle="collapse" href="#collapseCameras" role="button" aria-expanded="false" aria-controls="collapseCameras">
  Cameras</a>
<div class="collapse" id="collapseCameras">
  <table class="table">
    <tr>
      <th>Serial</th>
      <th>Acquired</th>
      <th>cost</th>
      <th>serial</th>
      <th>datecode</th>
      <th>manufactured</th>
      <th>own</th>
      <th>lens</th>
      <th>notes</th>
      <th>lost</th>
      <th>lost_price</th>
      <th>source</th>
      <th>condition</th>
      <th>condition_notes</th>
      <th>display_lens</th>
    </tr>
    {% for camera in cameramodel.camera_set.all %}
    <tr>
      <td>{{ camera.serial }}</td>
      <td>{{ camera.acquired }}</td>
      <td>{{ camera.cost }}</td>
      <td>{{ camera.serial }}</td>
      <td>{{ camera.datecode }}</td>
      <td>{{ camera.manufactured }}</td>
      <td>{{ camera.own }}</td>
      <td>{{ camera.lens }}</td>
      <td>{{ camera.notes }}</td>
      <td>{{ camera.lost }}</td>
      <td>{{ camera.lost_price }}</td>
      <td>{{ camera.source }}</td>
      <td>{{ camera.condition }}</td>
      <td>{{ camera.condition_notes }}</td>
      <td>{{ camera.display_lens }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
