{% extends "base.html" %}
{% load static %}

{% block heading %}{% include "heading.html" %}{%endblock%}

{% block subheading %}<h4>{{ object }}<a href="{{ object.get_absolute_url }}/update"><img
    src="{% static "svg/edit.svg" %}" width="20" height="20" alt="Edit"></a></h4>{%endblock%}

{% block content %}{%endblock%}

{% block actions %}
<a data-toggle="collapse" href="#collapseActions" role="button" aria-expanded="false" aria-controls="collapseActions">
  Actions
</a>
<div class="collapse" id="collapseActions">
  <ul>
    {% block moreactions %}{%endblock%}
  </ul>
</div>
{%endblock%}