{% extends "base.html" %}

{% block heading %}{% include "heading.html" %}{%endblock%}

{% block subheading %}<h4>{{ object }}</h4>{%endblock%}

{% block content %}{%endblock%}

{% block actions %}
<a data-toggle="collapse" href="#collapseActions" role="button" aria-expanded="false" aria-controls="collapseActions">
  Actions
</a>
<div class="collapse" id="collapseActions">
  <ul>
    <li>See all</li>
    <li><a href="{{ object.get_absolute_url }}/update">Edit</a></li>
    {% block moreactions %}{%endblock%}
  </ul>
</div>
{%endblock%}
