{% extends "schema/detail.html" %}

{% block content %}
<table class="table">
  <tr>
    <th>Manufacturer</th>
    <td>{% if object.manufacturer %}<a href="{% url 'manufacturer-detail' object.manufacturer.id %}">{{ object.manufacturer }}</a>{% endif %}</td>
  </tr>
  <tr>
    <th>Model</th>
    <td>{{ object.model }}</td>
  </tr>
  <tr>
    <th>Negative size</th>
    <td>{% if object.negative_size %}<a href="{% url 'negativesize-detail' object.negative_size.id %}">{{ object.negative_size }}</a>{% endif %}</td>
  </tr>
  <tr>
    <th>Type</th>
    <td>{{ object.type }}</td>
  </tr>
  <tr>
    <th>Light source</th>
    <td>{{ object.light_source }}</td>
  </tr>
  <tr>
    <th>Acquired</th>
    <td>{{ object.acquired }}</td>
  </tr>
  <tr>
    <th>Lost</th>
    <td>{{ object.lost }}</td>
  </tr>
  <tr>
    <th>Introduced</th>
    <td>{{ object.introduced }}</td>
  </tr>
  <tr>
    <th>Discontinued</th>
    <td>{{ object.discontinued }}</td>
  </tr>
  <tr>
    <th>Cost</th>
    <td>{{ object.cost }}</td>
  </tr>
  <tr>
    <th>Lost price</th>
    <td>{{ object.lost_price }}</td>
  </tr>
</table>
{% endblock %}
