{% extends "schema/detail.html" %}

{% block content %}
<table class="table">
  <tr>
    <th>Filmstock</th>
    <td>{% if object.filmstock %}<a
        href="{% url 'filmstock-detail' object.filmstock.id %}">{{ object.filmstock }}</a>{% endif %}</td>
  </tr>
  <tr>
    <th>Exposed at</th>
    <td>{{ object.exposed_at }}</td>
  </tr>
  <tr>
    <th>Film format</th>
    <td>{% if object.format %}<a href="{% url 'format-detail' object.format.id %}">{{ object.format }}</a>{% endif %}
    </td>
  </tr>
  <tr>
    <th>Date loaded</th>
    <td>{{ object.date_loaded }}</td>
  </tr>
  <tr>
    <th>Date processed</th>
    <td>{{ object.date_processed }}</td>
  </tr>
  <tr>
    <th>Camera</th>
    <td>{% if object.camera %}<a href="{% url 'camera-detail' object.camera.id %}">{{ object.camera }}</a>{% endif %}
    </td>
  </tr>
  <tr>
    <th>Title</th>
    <td>{{ object.title }}</td>
  </tr>
  <tr>
    <th>Frames</th>
    <td>{{ object.frames }}</td>
  </tr>
  <tr>
    <th>Developer</th>
    <td>{% if object.developer %}<a
        href="{% url 'developer-detail' object.developer.id %}">{{ object.developer }}</a>{% endif %}</td>
  </tr>
  <tr>
    <th>Directory</th>
    <td>{{ object.directory }}</td>
  </tr>
  <tr>
    <th>Developer uses</th>
    <td>{{ object.dev_uses }}</td>
  </tr>
  <tr>
    <th>Development time</th>
    <td>{{ object.dev_time }}</td>
  </tr>
  <tr>
    <th>Development temperature</th>
    <td>{{ object.dev_temp }}</td>
  </tr>
  <tr>
    <th>Development compensation</th>
    <td>{{ object.dev_n }}</td>
  </tr>
  <tr>
    <th>Development notes</th>
    <td>{{ object.development_notes }}</td>
  </tr>
  <tr>
    <th>Bulk film</th>
    <td>{{ object.bulk_film }}</td>
  </tr>
  <tr>
    <th>Bulk film loaded</th>
    <td>{{ object.bulk_film_loaded }}</td>
  </tr>
  <tr>
    <th>Batch code</th>
    <td>{{ object.film_batch }}</td>
  </tr>
  <tr>
    <th>Expiry date</th>
    <td>{{ object.expiry_date }}</td>
  </tr>
  <tr>
    <th>Purchase date</th>
    <td>{{ object.purchase_date }}</td>
  </tr>
  <tr>
    <th>Price</th>
    <td>{{ object.price }}</td>
  </tr>
  <tr>
    <th>Processed by</th>
    <td>{% if object.processed_by %}<a
        href="{% url 'person-detail' object.processed_by.id %}">{{ object.processed_by }}</a>{% endif %}</td>
  </tr>
  <tr>
    <th>Archive</th>
    <td>{% if object.archive %}<a
        href="{% url 'archive-detail' object.archive.id %}">{{ object.archive }}</a>{% endif %}</td>
  </tr>
</table>

<a data-toggle="collapse" href="#collapseNegatives" role="button" aria-expanded="false" aria-controls="collapseNegatives">
  Negatives</a>
<div class="collapse" id="collapseNegatives">
  <table class="table">
    <tr>
      <th>Frame</th>
      <th>Caption</th>
      <th>Date</th>
    </tr>
    {% for negative in film.negative_set.all %}
    <tr>
      <td>{{ negative.frame }}</td>
      <td>{{ negative.caption }}</td>
      <td>{{ negative.date }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
