{% extends "schema/detail.html" %}

{% block content %}
<table class="table table-hover">
  <tr>
    <td>Filmstock</td>
    <td>{% if object.filmstock is not None %}<a
        href="{% url 'filmstock-detail' object.filmstock.slug %}">{{ object.filmstock }}</a>{% endif %}</td>
  </tr>
  <tr>
    <td>Exposed at</td>
    <td>{{ object.exposed_at }}</td>
  </tr>
  <tr>
    <td>Film format</td>
    <td>{% if object.format is not None %}<a href="{% url 'format-detail' object.format.id %}">{{ object.format }}</a>{% endif %}
    </td>
  </tr>
  <tr>
    <td>Date loaded</td>
    <td>{{ object.date_loaded }}</td>
  </tr>
  <tr>
    <td>Date processed</td>
    <td>{{ object.date_processed }}</td>
  </tr>
  <tr>
    <td>Camera</td>
    <td>{% if object.camera is not None %}<a href="{% url 'camera-detail' object.camera.id %}">{{ object.camera }}</a>{% endif %}
    </td>
  </tr>
  <tr>
    <td>Title</td>
    <td>{{ object.title }}</td>
  </tr>
  <tr>
    <td>Frames</td>
    <td>{{ object.frames }}</td>
  </tr>
  <tr>
    <td>Developer</td>
    <td>{% if object.developer is not None %}<a
        href="{% url 'developer-detail' object.developer.slug %}">{{ object.developer }}</a>{% endif %}</td>
  </tr>
  <tr>
    <td>Directory</td>
    <td>{{ object.directory }}</td>
  </tr>
  <tr>
    <td>Developer uses</td>
    <td>{{ object.dev_uses }}</td>
  </tr>
  <tr>
    <td>Development time</td>
    <td>{{ object.dev_time }}</td>
  </tr>
  <tr>
    <td>Development temperature</td>
    <td>{{ object.dev_temp }}</td>
  </tr>
  <tr>
    <td>Development compensation</td>
    <td>{{ object.dev_n }}</td>
  </tr>
  <tr>
    <td>Development notes</td>
    <td>{{ object.development_notes }}</td>
  </tr>
  <tr>
    <td>Bulk film</td>
    <td>{{ object.bulk_film }}</td>
  </tr>
  <tr>
    <td>Bulk film loaded</td>
    <td>{{ object.bulk_film_loaded }}</td>
  </tr>
  <tr>
    <td>Batch code</td>
    <td>{{ object.film_batch }}</td>
  </tr>
  <tr>
    <td>Expiry date</td>
    <td>{{ object.expiry_date }}</td>
  </tr>
  <tr>
    <td>Purchase date</td>
    <td>{{ object.purchase_date }}</td>
  </tr>
  <tr>
    <td>Price</td>
    <td>{{ object.price }}</td>
  </tr>
  <tr>
    <td>Processed by</td>
    <td>{% if object.processed_by is not None %}<a
        href="{% url 'person-detail' object.processed_by.id %}">{{ object.processed_by }}</a>{% endif %}</td>
  </tr>
  <tr>
    <td>Archive</td>
    <td>{% if object.archive is not None %}<a
        href="{% url 'archive-detail' object.archive.id %}">{{ object.archive }}</a>{% endif %}</td>
  </tr>
</table>

<a data-toggle="collapse" href="#collapseNegatives" role="button" aria-expanded="false" aria-controls="collapseNegatives">
  Negatives</a>
<div class="collapse" id="collapseNegatives">
  <table class="table table-hover">
    <tr>
      <th>Frame</th>
      <th>Caption</th>
      <th>Date</th>
    </tr>
    {% for negative in film.negative_set.all %}
    <tr>
      <td>{{ negative.frame }}</td>
      <td>{{ negative.caption }}</td>
      <td>{{ negative.date }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
