{% extends "schema/detail.html" %}

{% block content %}
<table class="table">
  <tr>
    <th>Name</th>
    <td>{{ object.name }}</td>
  </tr>
  <tr>
    <th>Manufacturer</th>
    <td>{% if object.manufacturer %}<a
        href="{% url 'manufacturer-detail' object.manufacturer.id %}">{{ object.manufacturer }}</a>{% endif %}</td>
  </tr>
  <tr>
    <th>ISO</th>
    <td>{{ object.iso }}</td>
  </tr>
  <tr>
    <th>Colour</th>
    <td>{{ object.colour }}</td>
  </tr>
  <tr>
    <th>Panchromatic</th>
    <td>{{ object.panchromatic }}</td>
  </tr>
  <tr>
    <th>Process</th>
    <td>{{ object.process }}</td>
  </tr>
</table>

<a data-toggle="collapse" href="#collapseFilms" role="button" aria-expanded="false" aria-controls="collapseFilms">
  Films</a>
<div class="collapse" id="collapseFilms">
  <table class="table">
    <tr>
      <th>Film</th>
      <th>Caption</th>
      <th>Date</th>
    </tr>
    {% for film in filmstock.film_set.all %}
    <tr>
      <td>{{ film.pk }}</td>
      <td>{{ film.description }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
