{% extends "schema/detail.html" %}

{% block content %}
<table class="table table-hover">
  <tr>
    <td>Model</td>
    <td>{{ object.model }}</td>
  </tr>
  <tr>
    <td>Manufacturer</td>
    <td>{% if object.manufacturer is not None %}<a href="{% url 'manufacturer-detail' object.manufacturer.slug %}">{{ object.manufacturer }}</a>{% endif %}</td>
  </tr>
  <tr>
    <td>Guide number</td>
    <td>{{ object.guide_number }}</td>
  </tr>
  <tr>
    <td>Guide number info</td>
    <td>{{ object.gn_info }}</td>
  </tr>
  <tr>
    <td>Battery powered</td>
    <td>{{ object.battery_powered }}</td>
  </tr>
  <tr>
    <td>PC sync</td>
    <td>{{ object.pc_sync }}</td>
  </tr>
  <tr>
    <td>Hot shoe</td>
    <td>{{ object.hot_shoe }}</td>
  </tr>
  <tr>
    <td>Light stand</td>
    <td>{{ object.light_stand }}</td>
  </tr>
  <tr>
    <td>Battery type</td>
    <td>{{ object.battery_type }}</td>
  </tr>
  <tr>
    <td>Battery quantity</td>
    <td>{{ object.battery_qty }}</td>
  </tr>
  <tr>
    <td>Manual power control</td>
    <td>{{ object.manual_control }}</td>
  </tr>
  <tr>
    <td>Swivel head</td>
    <td>{{ object.swivel_head }}</td>
  </tr>
  <tr>
    <td>Tilt head</td>
    <td>{{ object.tilt_head }}</td>
  </tr>
  <tr>
    <td>Zoom</td>
    <td>{{ object.zoom }}</td>
  </tr>
  <tr>
    <td>TTL metering</td>
    <td>{{ object.ttl }}</td>
  </tr>
  <tr>
    <td>Flash protocol</td>
    <td>{{ object.flash_protocol }}</td>
  </tr>
  <tr>
    <td>Trigger voltage</td>
    <td>{{ object.trigger_voltage }}</td>
  </tr>
  <tr>
    <td>Owned</td>
    <td>{{ object.own }}</td>
  </tr>
  <tr>
    <td>Acquired</td>
    <td>{{ object.acquired }}</td>
  </tr>
  <tr>
    <td>Cost</td>
    <td>{{ object.cost }}</td>
  </tr>
</table>
{% endblock %}
