{% extends "schema/detail.html" %}

{% block content %}
<table class="table">
  <tr>
    <th>Model</th>
    <td>{{ object.model }}</td>
  </tr>
  <tr>
    <th>Manufacturer</th>
    <td>{% if object.manufacturer %}<a href="{% url 'manufacturer-detail' object.manufacturer.id %}">{{ object.manufacturer }}</a>{% endif %}</td>
  </tr>
  <tr>
    <th>Guide number</th>
    <td>{{ object.guide_number }}</td>
  </tr>
  <tr>
    <th>Guide number info</th>
    <td>{{ object.gn_info }}</td>
  </tr>
  <tr>
    <th>Battery powered</th>
    <td>{{ object.battery_powered }}</td>
  </tr>
  <tr>
    <th>PC sync</th>
    <td>{{ object.pc_sync }}</td>
  </tr>
  <tr>
    <th>Hot shoe</th>
    <td>{{ object.hot_shoe }}</td>
  </tr>
  <tr>
    <th>Light stand</th>
    <td>{{ object.light_stand }}</td>
  </tr>
  <tr>
    <th>Battery type</th>
    <td>{{ object.battery_type }}</td>
  </tr>
  <tr>
    <th>Battery quantity</th>
    <td>{{ object.battery_qty }}</td>
  </tr>
  <tr>
    <th>Manual power control</th>
    <td>{{ object.manual_control }}</td>
  </tr>
  <tr>
    <th>Swivel head</th>
    <td>{{ object.swivel_head }}</td>
  </tr>
  <tr>
    <th>Tilt head</th>
    <td>{{ object.tilt_head }}</td>
  </tr>
  <tr>
    <th>Zoom</th>
    <td>{{ object.zoom }}</td>
  </tr>
  <tr>
    <th>TTL metering</th>
    <td>{{ object.ttl }}</td>
  </tr>
  <tr>
    <th>Flash protocol</th>
    <td>{{ object.flash_protocol }}</td>
  </tr>
  <tr>
    <th>Trigger voltage</th>
    <td>{{ object.trigger_voltage }}</td>
  </tr>
  <tr>
    <th>Owned</th>
    <td>{{ object.own }}</td>
  </tr>
  <tr>
    <th>Acquired</th>
    <td>{{ object.acquired }}</td>
  </tr>
  <tr>
    <th>Cost</th>
    <td>{{ object.cost }}</td>
  </tr>
</table>
{% endblock %}
