{% extends "base_generic.html" %}
{% load static %}

{% block heading %}<h1>
    <img src="{% static "icons/50/home50.png" %}" alt="Home">
    Welcome</h1>{%endblock%}

{% block content %}
<p>Welcome to CameraHub - an app for cataloguing vintage cameras, lenses, films, negatives & prints</p>
{% if user.is_authenticated %}
{% else %}
<p><a href="{% url 'login' %}">Login</a> to start tracking your own collection!</p>
<p>Some object types are also available to browse without logging in.</p>
{% endif %}
{% endblock %}
