{% extends "schema/detail.html" %}

{% block content %}
<table class="table">
  <tr>
    <th>Lens model</th>
    <td>{% if object.lensmodel %}<a href="{% url 'lensmodel-detail' object.lensmodel.id %}">{{ object.lensmodel }}</a>{% endif %}</td>
  </tr>
  <tr>
    <th>Serial number</th>
    <td>{{ object.serial }}</td>
  </tr>
  <tr>
    <th>Date code</th>
    <td>{{ object.date_code }}</td>
  </tr>
  <tr>
    <th>Date manufactured</th>
    <td>{{ object.manufactured }}</td>
  </tr>
  <tr>
    <th>Acquired</th>
    <td>{{ object.acquired }}</td>
  </tr>
  <tr>
    <th>Cost</th>
    <td>{{ object.cost }}</td>
  </tr>
  <tr>
    <th>Notes</th>
    <td>{{ object.notes }}</td>
  </tr>
  <tr>
    <th>Own</th>
    <td>{{ object.own }}</td>
  </tr>
  <tr>
    <th>Lost</th>
    <td>{{ object.lost }}</td>
  </tr>
  <tr>
    <th>Lost price</th>
    <td>{{ object.lost_price }}</td>
  </tr>
  <tr>
    <th>Source</th>
    <td>{{ object.source }}</td>
  </tr>
  <tr>
    <th>Condition</th>
    <td>{{ object.condition }}</td>
  </tr>
  <tr>
    <th>Condition notes</th>
    <td>{{ object.condition_notes }}</td>
  </tr>
</table>
{% endblock %}
