{% extends "schema/detail.html" %}

{% block content %}
<table class="table">
  <tr>
    <td>Disambiguation</td>
    <td>{{ object.disambiguation }}</td>
  </tr>
  <tr>
    <td>Manufacturer</td>
    <td>{% if object.manufacturer %}<a
        href="{% url 'manufacturer-detail' object.manufacturer.id %}">{{ object.manufacturer }}</a>{% endif %}</td>
  </tr>
  <tr>
    <td>Model</td>
    <td>{{ object.model }}</td>
  </tr>
  <tr>
    <td>Mount</td>
    <td>{% if object.mount %}<a href="{% url 'mount-detail' object.mount.id %}">{{ object.mount }}</a>{% endif %}</td>
  </tr>
  <tr>
    <td>Zoom</td>
    <td>{{ object.zoom }}</td>
  </tr>
  <tr>
    <td>Min focal length</td>
    <td>{{ object.min_focal_length }}</td>
  </tr>
  <tr>
    <td>Max focal length</td>
    <td>{{ object.max_focal_length }}</td>
  </tr>
  <tr>
    <td>Closest focus</td>
    <td>{{ object.closest_focus }}</td>
  </tr>
  <tr>
    <td>Maximum aperture</td>
    <td>{{ object.max_aperture }}</td>
  </tr>
  <tr>
    <td>Minimum aperture</td>
    <td>{{ object.min_aperture }}</td>
  </tr>
  <tr>
    <td>Elements</td>
    <td>{{ object.elements }}</td>
  </tr>
  <tr>
    <td>Groups</td>
    <td>{{ object.groups }}</td>
  </tr>
  <tr>
    <td>Weight</td>
    <td>{{ object.weight }}</td>
  </tr>
  <tr>
    <td>Nominal min angle diagonal</td>
    <td>{{ object.nominal_min_angle_diag }}</td>
  </tr>
  <tr>
    <td>Nominal max angle diagonal</td>
    <td>{{ object.nominal_max_angle_diag }}</td>
  </tr>
  <tr>
    <td>Aperture blades</td>
    <td>{{ object.aperture_blades }}</td>
  </tr>
  <tr>
    <td>Autofocus</td>
    <td>{{ object.autofocus }}</td>
  </tr>
  <tr>
    <td>Filter thread</td>
    <td>{{ object.filter_thread }}</td>
  </tr>
  <tr>
    <td>Maximum magnification</td>
    <td>{{ object.magnification }}</td>
  </tr>
  <tr>
    <td>URL</td>
    <td>{{ object.url }}</td>
  </tr>
  <tr>
    <td>Introduced</td>
    <td>{{ object.introduced }}</td>
  </tr>
  <tr>
    <td>Discontinued</td>
    <td>{{ object.discontinued }}</td>
  </tr>
  <tr>
    <td>Negative size</td>
    <td>{% if object.negative_size %}<a
        href="{% url 'negativesize-detail' object.negative_size.id %}">{{ object.negative_size }}</a>{% endif %}</td>
  </tr>
  <tr>
    <td>Fixed mount</td>
    <td>{{ object.fixed_mount }}</td>
  </tr>
  <tr>
    <td>Notes</td>
    <td>{{ object.notes }}</td>
  </tr>
  <tr>
    <td>Coating</td>
    <td>{{ object.coating }}</td>
  </tr>
  <tr>
    <td>Hood</td>
    <td>{{ object.hood }}</td>
  </tr>
  <tr>
    <td>Lens type</td>
    <td>{{ object.exif_lenstype }}</td>
  </tr>
  <tr>
    <td>Rectilinear</td>
    <td>{{ object.rectilinear }}</td>
  </tr>
  <tr>
    <td>Length</td>
    <td>{{ object.length }}</td>
  </tr>
  <tr>
    <td>Diameter</td>
    <td>{{ object.diameter }}</td>
  </tr>
  <tr>
    <td>Image circle</td>
    <td>{{ object.image_circle }}</td>
  </tr>
  <tr>
    <td>Formula</td>
    <td>{{ object.formula }}</td>
  </tr>
  <tr>
    <td>Shutter model</td>
    <td>{{ object.shutter_model }}</td>
  </tr>
  <tr>
    <td>Series</td>
    <td>
      {% if object.series %}
      <ul>
        {% for series in object.series.all %}
        <li>{{ series.name }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </td>
  </tr>
</table>

<a data-toggle="collapse" href="#collapseLenses" role="button" aria-expanded="false" aria-controls="collapseLenses">
  Lenses</a>
<div class="collapse" id="collapseLenses">
  <table class="table">
    <tr>
      <th>Serial</th>
      <th>Acquired</th>
    </tr>
    {% for lens in lensmodel.lens_set.all %}
    <tr>
      <td>{{ lens.serial }}</td>
      <td>{{ lens.acquired }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
