{% extends "schema/detail.html" %}

{% block content %}
<table class="table table-hover">
  <tr>
    <td>Mount</td>
    <td>{{ object.mount }}</td>
  </tr>
  <tr>
    <td>Shutter in lens</td>
    <td>{{ object.shutter_in_lens }}</td>
  </tr>
  <tr>
    <td>Type</td>
    <td>{{ object.type }}</td>
  </tr>
  <tr>
    <td>Purpose</td>
    <td>{{ object.purpose }}</td>
  </tr>
  <tr>
    <td>Notes</td>
    <td>{{ object.notes }}</td>
  </tr>
  <tr>
    <td>Manufacturer</td>
    <td>{% if object.manufacturer is not None %}<a
        href="{% url 'manufacturer-detail' object.manufacturer.slug %}">{{ object.manufacturer }}</a>{% endif %}</td>
  </tr>
</table>

<h5><a data-toggle="collapse" href="#collapseCameras" role="button" aria-expanded="false"
    aria-controls="collapseCameras">
    Camera models</a></h5>
<div class="collapse" id="collapseCameras">
  <ul>
    {% for cameramodel in mount.cameramodel_set.all %}
    <li><a href="{% url 'cameramodel-detail' cameramodel.slug %}">{{ cameramodel }}</a></li>
    {% endfor %}
  </ul>
</div>

<h5><a data-toggle="collapse" href="#collapseLenses" role="button" aria-expanded="false" aria-controls="collapseLenses">
    Lens models</a></h5>
<div class="collapse" id="collapseLenses">
  <ul>
    {% for lensmodel in mount.lensmodel_set.all %}
    <li><a href="{% url 'lensmodel-detail' lensmodel.slug %}">{{ lensmodel }}</a></li>
    {% endfor %}
  </ul>
</div>
{% endblock %}