{% extends "detail.html" %}
{% load yesnoicon %}

{% block content %}
<table class="table table-hover">
  {% if object.camera_mount is not None %}
  <tr>
    <td>Camera mount</td>
    <td><a href="{% url 'mount-detail' object.camera_mount.slug %}">{{ object.camera_mount }}</a></td>
  </tr>
  {% endif %}
  {% if object.lens_mount is not None %}
  <tr>
    <td>Lens mount</td>
    <td><a href="{% url 'mount-detail' object.lens_mount.slug %}">{{ object.lens_mount }}</a></td>
  </tr>
  {% endif %}
  {% if object.has_optics is not None %}
  <tr>
    <td>Has optics</td>
    <td>{{ object.has_optics|yesnoicon }}</td>
  </tr>
  {% endif %}
  {% if object.infinity_focus is not None %}
  <tr>
    <td>Infinity focus</td>
    <td>{{ object.infinity_focus|yesnoicon }}</td>
  </tr>
  {% endif %}
  {% if object.notes is not None %}
  <tr>
    <td>Notes</td>
    <td>{{ object.notes }}</td>
  </tr>
  {% endif %}
</table>
{% endblock %}
