{% extends "schema/detail.html" %}

{% block content %}
<table class="table">
  <tr>
    <th>Negative</th>
    <td>{% if object.negative %}<a href="{% url 'negative-detail' object.negative.id %}">{{ object.negative }}</a>{% endif %}</td>
  </tr>
  <tr>
    <th>Date</th>
    <td>{{ object.date }}</td>
  </tr>
  <tr>
    <th>Paperstock</th>
    <td>{% if object.paper_stock %}<a href="{% url 'paper_stock-detail' object.paper_stock.id %}">{{ object.paper_stock }}</a>{% endif %}</td>
  </tr>
  <tr>
    <th>Height</th>
    <td>{{ object.height }}</td>
  </tr>
  <tr>
    <th>Width</th>
    <td>{{ object.width }}</td>
  </tr>
  <tr>
    <th>Aperture</th>
    <td>{{ object.aperture }}</td>
  </tr>
  <tr>
    <th>Exposure time</th>
    <td>{{ object.exposure_time }}</td>
  </tr>
  <tr>
    <th>Filtration grade</th>
    <td>{{ object.filtration_grade }}</td>
  </tr>
  <tr>
    <th>Development time</th>
    <td>{{ object.development_time }}</td>
  </tr>
  <tr>
    <th>Toner</th>
    <td>{{ object.toner.all|join:", " }}</td>
  </tr>
  <tr>
    <th>Own</th>
    <td>{{ object.own }}</td>
  </tr>
  <tr>
    <th>Location</th>
    <td>{{ object.location }}</td>
  </tr>
  <tr>
    <th>Sold price</th>
    <td>{{ object.sold_price }}</td>
  </tr>
  <tr>
    <th>Enlarger</th>
    <td>{{ object.enlarger }}</td>
  </tr>
  <tr>
    <th>Enlarger lens</th>
    <td>{{ object.lens }}</td>
  </tr>
  <tr>
    <th>Developer</th>
    <td>{% if object.developer %}<a href="{% url 'developer-detail' object.developer.id %}">{{ object.developer }}</a>{% endif %}</td>
  </tr>
  <tr>
    <th>Fine</th>
    <td>{{ object.fine }}</td>
  </tr>
  <tr>
    <th>Notes</th>
    <td>{{ object.notes }}</td>
  </tr>
  <tr>
    <th>Archive</th>
    <td>{% if object.archive %}<a href="{% url 'archive-detail' object.archive.id %}">{{ object.archive }}</a>{% endif %}</td>
  </tr>
  <tr>
    <th>Printer</th>
    <td>{{ object.printer }}</td>
  </tr>
</table>
{% endblock %}
