{% extends "schema/detail.html" %}

{% block content %}
<table class="table table-hover">
  <tr>
    <td>Negative</td>
    <td>{% if object.negative is not None %}<a href="{% url 'negative-detail' object.negative.id %}">{{ object.negative }}</a>{% endif %}</td>
  </tr>
  <tr>
    <td>Print</td>
    <td>{{ object.print }}</td>
  </tr>
  <tr>
    <td>Filename</td>
    <td>{{ object.filename }}</td>
  </tr>
  <tr>
    <td>Date</td>
    <td>{{ object.date }}</td>
  </tr>
  <tr>
    <td>Colour</td>
    <td>{{ object.colour }}</td>
  </tr>
  <tr>
    <td>Width</td>
    <td>{{ object.width }}</td>
  </tr>
  <tr>
    <td>Height</td>
    <td>{{ object.height }}</td>
  </tr>
</table>
{% endblock %}
