{% extends "schema/detail.html" %}

{% block content %}
<table class="table">
  <tr>
    <th>Name</th>
    <td>{{ object.name }}</td>
  </tr>
  <tr>
    <th>Manufacturer</th>
    <td>{% if object.manufacturer %}<a href="{% url 'manufacturer-detail' object.manufacturer.id %}">{{ object.manufacturer }}</a>{% endif %}</td>
  </tr>
  <tr>
    <th>Formulation</th>
    <td>{{ object.formulation }}</td>
  </tr>
  <tr>
    <th>Stock dilution</th>
    <td>{{ object.stock_dilution }}</td>
  </tr>
</table>
{% endblock %}
