{% extends "schema/detail.html" %}

{% block content %}
<table class="table table-hover">
  <tr>
    <td>Name</td>
    <td>{{ object.name }}</td>
  </tr>
  <tr>
    <td>Manufacturer</td>
    <td>{% if object.manufacturer is not None %}<a href="{% url 'manufacturer-detail' object.manufacturer.slug %}">{{ object.manufacturer }}</a>{% endif %}</td>
  </tr>
  <tr>
    <td>Formulation</td>
    <td>{{ object.formulation }}</td>
  </tr>
  <tr>
    <td>Stock dilution</td>
    <td>{{ object.stock_dilution }}</td>
  </tr>
</table>
{% endblock %}
