---
apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: postgres-backup
spec:
  schedule: "0 3 * * *"
  jobTemplate:
    spec:
      ttlSecondsAfterFinished: 86400
      template:
        spec:
          containers:
            - env:
                - name: PGHOST
                  value: postgres
                - name: PGPORT
                  value: "5432"
                - name: PGDATABASE
                  value: camerahub
                - name: PGUSER
                  valueFrom:
                    secretKeyRef:
                      key: CAMERAHUB_DB_USER
                      name: camerahub-secret
                - name: PGPASSWORD
                  valueFrom:
                    secretKeyRef:
                      key: CAMERAHUB_DB_PASS
                      name: camerahub-secret
              image: djjudas21/postgres-backup:10
              name: pgsql-backup
              volumeMounts:
                - mountPath: /pg_backup
                  name: postgres-backup
          restartPolicy: OnFailure
          volumes:
            - name: postgres-backup
              persistentVolumeClaim:
                claimName: postgres-backup
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-backup
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 8Gi
