CAMERAHUB_SENDGRID_KEY=SG.yoursendgridkey
CAMERAHUB_ADMIN_EMAIL=admin@example.com
CAMERAHUB_ADMIN_PASSWORD=passw0rd
CAMERAHUB_SECRET_KEY=myprodsecret
#CAMERAHUB_DB_PASS
#CAMERAHUB_SENDGRID_KEY
#CAMERAHUB_EMAIL_BACKEND
#CAMERAHUB_EMAIL_HOST_PASSWORD
