<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}<title>PhotoDB</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
            {% block sidebar %}
            <!-- insert default navigation text for every page -->
                <ul class="sidebar-nav">
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'accessory-list' %}">Accessory</a></li>
                    <li><a href="{% url 'archive-list' %}">Archive</a></li>
                    <li><a href="{% url 'battery-list' %}">Battery</a></li>
                    <li><a href="{% url 'bulkfilm-list' %}">BulkFilm</a></li>
                    <li><a href="{% url 'camera-list' %}">Camera</a></li>
                    <li><a href="{% url 'cameramodel-list' %}">CameraModel</a></li>
                    <li><a href="{% url 'developer-list' %}">Developer</a></li>
                    <li><a href="{% url 'enlarger-list' %}">Enlarger</a></li>
                    <li><a href="{% url 'film-list' %}">Film</a></li>
                    <li><a href="{% url 'filmstock-list' %}">FilmStock</a></li>
                    <li><a href="{% url 'filter-list' %}">Filter</a></li>
                    <li><a href="{% url 'flash-list' %}">Flash</a></li>
                    <li><a href="{% url 'flashprotocol-list' %}">FlashProtocol</a></li>
                    <li><a href="{% url 'format-list' %}">Format</a></li>
                    <li><a href="{% url 'lens-list' %}">Lens</a></li>
                    <li><a href="{% url 'lensmodel-list' %}">LensModel</a></li>
                    <li><a href="{% url 'manufacturer-list' %}">Manufacturer</a></li>
                    <li><a href="{% url 'meteringtype-list' %}">MeteringType</a></li>
                    <li><a href="{% url 'mount-list' %}">Mount</a></li>
                    <li><a href="{% url 'mountadapter-list' %}">MountAdapter</a></li>
                    <li><a href="{% url 'negative-list' %}">Negative</a></li>
                    <li><a href="{% url 'negativesize-list' %}">NegativeSize</a></li>
                    <li><a href="{% url 'order-list' %}">Order</a></li>
                    <li><a href="{% url 'paperstock-list' %}">PaperStock</a></li>
                    <li><a href="{% url 'person-list' %}">Person</a></li></a></li>
                    <li><a href="{% url 'print-list' %}">Print</a></li>
                    <li><a href="{% url 'process-list' %}">Process</a></li>
                    <li><a href="{% url 'repair-list' %}">Repair</a></li>
                    <li><a href="{% url 'scan-list' %}">Scan</a></li>
                    <li><a href="{% url 'series-list' %}">Series</a></li>
                    <li><a href="{% url 'teleconverter-list' %}">Teleconverter</a></li>
                    <li><a href="{% url 'toner-list' %}">Toner</a></li>
                </ul>
            {% endblock %}
        </div>
    <div class="col-sm-10 ">
        {% block heading %}{% endblock %}
        {% block subheading %}{% endblock %}
        {% block content %}<!-- default content text (typically empty) -->{% endblock %}
        {% block actions %}{% endblock %}
    </div>

    {% block pagination %}
      {% if is_paginated %}
          <div class="pagination">
              <span class="page-links">
                  {% if page_obj.has_previous %}
                      <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                  {% endif %}
                  <span class="page-current">
                      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                  </span>
                  {% if page_obj.has_next %}
                      <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                  {% endif %}
              </span>
          </div>
      {% endif %}
    {% endblock %}
    </div>
  </div>
</body>
</html>
